[class*='col-'] {
  float: left;
  padding-right: 10px;
  padding-bottom: 10px;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}

.grid {
  margin: 0;
  margin-left: 208px;
}
.col-1-4 {
  width: 25%;
}



.grid-pad {
  padding: 10px 0;
}
.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}

.module {
    position: relative;
    max-height: 200px;
    width: 200px;
    margin: 0 auto;
}



.module .content {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Black background with transparency */
    color: #f1f1f1;
   /* width: 200px; */
    
}

/* config pour sidenav 
*/

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    
    /*left: 0;*/
    background-color: #111;
    overflow-x: hidden;
    
}

.center {
    margin: auto;
    width: 80%;
    padding: 10px;
}
