

<div *ngIf="film">

  <h2>{{ film.nom | uppercase }} Details</h2>
  <img src="http://obeflix.com/clients/img/{{film.urltorrent}}" style="height:200px;width:200px">
  <div><span>id: </span>{{film.id}}</div>
  <div>
    
    <span>id: </span>{{film.urltorrent}}
  </div>

<button (click)="goBack()">go back</button>


</div>
<button (click)="save(user)">Add</button>
<div>
  <form #accountForm="ngForm" (ngSubmit)="save(user)">
  <input class="form-control" type="text" name="items" [(ngModel)]="user.items"  placeholder="Items" required >

  <button class="btn btn-primary" type="submit" [disabled]="!accountForm.form.valid">
        <i class="fa fa-save"></i> Save
      </button>
</form>
</div>

{{user.email}}

<a href="/api/usercart/{{user._id}}/{{film.nom}}">
   <button>ADD TO CART</button>
</a>


<button (click)="updatecart(user, film)">Add</button>